@font-face { font-family: Coffee-tin; font-weight: bold; src: url('./CoffeeTin\ Initials.ttf'); }


html,body { 
  font: 14px Helvetica, Arial;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
body{
  background: url("./images/ba4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
form input { 
  border: 0; 
  margin-right: .5%;
  float: left;
}
.msg { 
  margin-right: .5%;
  padding: 4px;
  width: 88%;
  float: right;
}

.form-control {
  margin-bottom: 5px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: auto;
  
}

.form-signin-heading {
	margin-bottom: 30px;
}

.the-reveal { 
  display: none; 
}

.left {
  height:500px;
  float:left;
}

.right {
  height:500px;
  float:left;
  padding-right: 10px;
}

.row:nth-child(1) {
  background-color: #eee;
}

.row:nth-child(2) {
  background-color: #ddd;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: rgba(140, 222, 255, 0.2);
   
}

#messages { 
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.2); 
}

.connected{
  font-size: 20px;
}
.connected span{
font-size: 18px;
}
.blackjack{
  color:#fff;
  font-family: 'Coffee-tin';
  font-size: 50px;
}

.login-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.small{
  display:inline-block;
  height: 200px;
  width: 130px;
  margin-right: 15px;
}
.white{
  color: #FFF;
}
.martop{
  margin-top: 20px;
}
.marbot{
  margin-bottom: 20px;
}
.smallest{
  height:40px;
  margin-right: 10px;
  margin-left: 10px;
  width:25px;
}
.btn{
  margin-right: 10px;
  width:100px;
}
.normal{
  margin-right: 0px;
  width:45px;
}